<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node Hero - Authentication Tutorial</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap-css-only/css/bootstrap.min.css">
  </head>
  <body>
    {{{body}}}

    <script type="text/javascript" src="/static/bower_components/bootstrap.native/dist/bootstrap-native.min.js"></script>
  </body>
</html>
